---
import welcome from "../data/welcome.json";
import SocialPill from "./prefabs/SocialPill.astro";
import Badge from "./prefabs/Badge.astro";
---

<div class="flex flex-wrap justify-center items-center gap-8">
  <img
    src={welcome.photo}
    alt={`Foto de ${welcome.name}`}
    class="w-36 h-36 rounded-full object-cover border-4 border-gray-700 shadow-lg"
  />
  <div class="max-w-xl">
    <h2 class="text-4xl font-bold mb-1">{welcome.title}</h2>
    <div class="my-2">
      <p class="text-md text-gray-400 mb-2">
        {welcome.working}
      </p>
      <p class="leading-relaxed text-gray-400">
        {welcome.description}
      </p>
    </div>
    <div class="flex flex-wrap justify-center sm:justify-start gap-3">
      <SocialPill href={welcome.linkedin}>
        <Badge icon="LinkedIn">LinkedIn</Badge>
      </SocialPill>
      <SocialPill href={welcome.github}>
        <Badge icon="Github">Github</Badge>
      </SocialPill>
      <SocialPill href={welcome.mail}>
        <Badge icon="Mail">FernaKasa@gmail.com</Badge>
      </SocialPill>
    </div>
  </div>
</div>
